@import "custom-variables";
@import "custom-animations";

body,html{
  margin: 0;
  padding: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow: overlay;
  font-size: 18px;
  height: 100%;
}

hr:not([size]){
  height: 1px;
  opacity: 1;
}

.ps-6{
  padding-left: 6rem !important;
}


//imitating button
.btn-pointer{
  cursor: pointer;
}

//number input
.primary-number-input::-webkit-inner-spin-button,.primary-number-input::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.rounded-card-10{
  border-radius: 10px;
}

.rounded-start-10{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.rounded-end-10{
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#nav-dropdown{
  color: $primary ;
  background-color: $light;
  border: 1px solid $primary ;
  border-radius: 10px;
  text-decoration: none;
}

#nav-dropdown:focus{
  color: $light;
  background-image: linear-gradient(to right, $primary 0% 50%, $dark 85% 100%);
}

#nav-dropdown:hover{
  color: $light;
  animation: nav-dropdown-fill-gradient 0.25s ease-in;
  background-image: linear-gradient(to right, $primary 0% 50%, $dark 85% 100%);
}

#nav-toggle{
  background-color: $light !important;
}

.light-navLink:hover{
  animation: fill-bg-dark-light-left 0.25s ease-in;
  background-color: $dark !important;
  color: $light !important;
  border: 1px solid $light !important;
}

.dark-navLink:hover{
  animation: fill-bg-light-dark-right 0.25s ease-in;
  background-color: $light !important;
  color: $dark !important;
}

.filter-canvas{
  z-index: 2;
}

.navbar{
  z-index: 20;
}

.main-container{
  padding: 90px 1.1rem 55px 1.1rem;
}

.z-index-1000{
  z-index: 1000;
}

.z-index-1{
  z-index: 1 !important;
}

.background-light-hover:hover{
  background-color: $dark !important;
  color: $light !important;
}

.background-danger-hover:hover{
  background-color: $primary-dark !important;
  color: $light !important;
}

.login-card{
  height: 90%;
  width: 30%;
}

.register-card{
  height: 90%;
  width: 80%;
}

.light-button-hover:hover{
  border: 1px solid $light !important;
  background-color: $dark !important;
  color: $light !important;
}

.card-title{
  height: 20%;
}

.select-all{
  color: $primary-light !important;
}

.select-all:hover{
  color: $primary-light !important;
  text-decoration: underline !important;
}

.check-pointer > input:hover {
  cursor: pointer;
  border: 1px solid $primary;
}

.switch-pointer > input:hover {
  cursor: pointer;
}

.check-pointer > label {
  color: $primary-light;
}

.notification-span{
  right: 2rem;
}

.star-hover:hover{
  color: gold !important;
}

.active-nav{
  background-color: $secondary-dark !important;
  color: $light !important;
}

.inner-nav{
  border-radius: 0 !important;
}

.inner-nav:hover{
  background-color: $light !important;
  color: $dark !important;
}

.profile-form-control:disabled{
  border: 0 !important;
}

.observed-card-info{
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.65));
}

.observed-card-info:hover{
  filter: drop-shadow(0px 6px 6px rgba(255, 255, 255, 0.45));
}

.managed-carrot-light:hover{
  color: $primary !important;
}

.managed-carrot-primary:hover{
  color: $light !important;
}

.inner-text-info{
  color: $info !important;
}

.rounded-pill-progress > div{
  border-radius: 16px;
}
