//heights
.mh-25px {
  max-height: 25px;
}

.mh-50px {
  max-height: 50px;
}

.mh-75px {
  max-height: 75px;
}

.mh-500px {
  max-height: 500px;
}

.mh-300px {
  max-height: 300px;
}

.mh-200px {
  max-height: 200px;
}

.mh-100px {
  max-height: 100px;
}

.mh-400px {
  max-height: 400px;
}

.mh-600px {
  max-height: 600px;
}

.mh-700px {
  max-height: 700px;
}

.mh-800px {
  max-height: 800px;
}

.mnh-50px {
  min-height: 50px;
}

.mnh-44px {
  min-height: 44px;
}

.mnh-35px {
  min-height: 35px;
}

.mnh-100px {
  min-height: 100px;
}

.mnh-500px {
  min-height: 500px;
}

.mnh-300px {
  min-height: 300px;
}

.mnh-200px {
  min-height: 200px !important;
}

.mnh-400px {
  min-height: 400px;
}

.mnh-600px {
  min-height: 600px;
}

.mnh-700px {
  min-height: 700px;
}

.mnh-750px {
  min-height: 750px;
}

.mnh-800px {
  min-height: 800px;
}

.mnh-90 {
  min-height: 90% !important;
}

.mnh-95 {
  min-height: 95% !important;
}

.mnh-30 {
  min-height: 30% !important;
}

.h-60px {
  height: 60px;
}

.h-50px {
  height: 50px;
}

.h-5 {
  height: 5%;
}

.h-6 {
  height: 6%;
}

.h-12 {
  height: 12%;
}

.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-30 {
  height: 30%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-70 {
  height: 70%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}

.h-94 {
  height: 94%;
}

.h-95 {
  height: 95%;
}

.h-96 {
  height: 96%;
}

//widths

.mw-200px {
  max-width: 200px;
}

.w-250px {
  width: 250px;
}

.w-200px {
  width: 200px;
}

.w-190px {
  width: 190px;
}

.w-180px {
  width: 180px;
}

.w-160px {
  width: 160px;
}

.w-100px {
  width: 100px;
}

.w-25px {
  width: 25px;
}

.w-50px {
  width: 50px;
}

.w-75px {
  width: 75px;
}

.h-1px {
  height: 2px !important;
}

.mh-50 {
  max-height: 50% !important;
}