@import "custom-variables";

//Scrollbar
::-webkit-scrollbar{
  height: 8px;
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-track{
  height: 8px;
  width: 10px;
  background-color: transparent;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-thumb{
  background-color: $primary;
  border-radius: 8px;
}

.thumb-slim::-webkit-scrollbar{
  width: 6px;
}


::-webkit-scrollbar-corner{
  background-color: transparent;
}

.transparent-scrollbar::-webkit-scrollbar{
  background-color: transparent;
  width: 6px;

}
.transparent-scrollbar::-webkit-scrollbar-track{
  background-color: transparent;
  width: 6px;
}
.transparent-scrollbar::-webkit-scrollbar-corner{
  background-color: transparent;
}

.thumb-success::-webkit-scrollbar-thumb{
  background-color: $success;
}
.thumb-primary::-webkit-scrollbar-thumb{
  background-color: $primary;
}
.thumb-primary-light::-webkit-scrollbar-thumb{
  background-color: $primary-light;
}
.thumb-dark::-webkit-scrollbar-thumb{
  background-color: $dark;
}
.thumb-light::-webkit-scrollbar-thumb{
  background-color: $light;
}
.thumb-info::-webkit-scrollbar-thumb{
  background-color: $info;
}
.thumb-secondary::-webkit-scrollbar-thumb{
  background-color: $secondary;
}
.thumb-danger::-webkit-scrollbar-thumb{
  background-color: $danger;
}
.thumb-warning::-webkit-scrollbar-thumb{
  background-color: $warning;
}

.thumb-magenta::-webkit-scrollbar-thumb{
  background-color: $magenta;
}
.thumb-salmon::-webkit-scrollbar-thumb{
  background-color: $salmon;
}
.thumb-taupe::-webkit-scrollbar-thumb{
  background-color: $taupe;
}
.thumb-teal::-webkit-scrollbar-thumb{
  background-color: $teal;
}
.thumb-berry-red::-webkit-scrollbar-thumb {
  background-color: $berry-red;
}

.overflow-y-scroll{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

.hr-1{
  height: 1px !important;
  padding-top: 1px !important;
}
